.App {
  margin: 10px;
}

.delete-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: blue; /* Sininen tausta kun hiiri on päällä */
  color: black;
}

.notification {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.notification.success {
  color: #006400;
  background: #d3d3d3;
  border: 3px solid #006400;
}

.notification.error {
  color: red;
  background: #d3d3d3;
  border: 3px solid red;
}
